<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.myroutine.model.dao.AnswerDao">

	<!-- 답변 등록 -->
	<insert id="insert" parameterType="Answer">
		INSERT INTO answers (users_user_id, questions_question_id, writer, content, is_picked)
		VALUES (#{userId}, #{questionId}, #{writer}, #{content}, #{isPicked})
	</insert>
	
	<!-- 답변 수정 -->
	<update id="update" parameterType="Answer">
		UPDATE answers
		SET content = #{content}, update_at = now()
		WHERE answer_id = #{id}
	</update>
	
	<!-- 답변 삭제 -->
	<!-- <delete id="delete" parameterType="int">
		DELETE FROM answers
		WHERE answer_id = #{id}
	</delete> -->
	<!-- delete_at 만 현재 시각으로 변경하는 쪽으로 구현 -->
	<update id="delete" parameterType="int">
		UPDATE answers
		SET delete_at = now()
		WHERE answer_id = #{id}
	</update>


</mapper>