<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.myroutine.model.dao.MileDao">

	<!-- 마일리지 등록 -->
	<insert id="insert" parameterType="Mile">
		INSERT INTO mile (user_id, amount, record)
		VALUES (#{userId}, #{amount}, #{record})
	</insert>
	
	<!-- 마일리지 삭제 -->
	<!-- 추후 createAt으로부터 3달 뒤 삭제되도록 수정 예정 -->
	<delete id="delete" parameterType="int">
		DELETE FROM mile
		WHERE id = #{id}
	</delete>
	
	<!-- 마일리지 전체 조회 -->
	<select id="selectAll" parameterType="int">
		SELECT *
		FROM mile
		WHERE user_id = #{userId}
	</select>
		
	<!-- 총 마일리지 조회 -->
	<select id="getTotalMile" parameterType="int">
		SELECT SUM(amount)
		FROM mile
		WHERE user_id = #{userId}
	</select>

</mapper>