<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.myroutine.model.dao.QuestionDao">

	<!-- 질문 등록 -->
	<insert id="insert" parameterType="Question">
		INSERT INTO questions
		(user_id, writer, title, content, like_cnt)
		VALUES (#{userId},
		#{writer}, #{title}, #{content}, #{likeCnt})
	</insert>

	<!-- 질문 수정 -->
	<update id="update" parameterType="Question">
		UPDATE questions
		SET (수정될 내용)
		WHERE question_id = #{id}
	</update>

	<!-- 질문 삭제 -->
	<delete id="delete" parameterType="int">
		DELETE FROM questions
		WHERE
		question_id = #{id}
	</delete>

	<!-- 질문 조회 -->
	<select id="select" parameterType="SearchCondition">
		SELECT *
		FROM questions
		<if test="key != null">
			WHERE ${key} LIKE CONCAT('%', #{word}, '%')
		</if>
		<if test="orderBy != null">
			ORDER BY ${orderBy} ${orderByDir}
		</if>
	</select>

	<!-- 조회수 증가 -->
	<update id="updateViewCnt" parameterType="int">
		UPDATE questions
		SET
		view_cnt = view_cnt + 1
		WHERE id = #{id};
	</update>

</mapper>