<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.myroutine.model.dao.QuestionDao">

	<!-- 질문 등록 -->
	<insert id="insert" parameterType="Question">
		INSERT INTO questions (users_user_id, writer, title, content, like_cnt)
		VALUES (#{userId}, #{writer}, #{title}, #{content}, #{likeCnt})
	</insert>
	
	<!-- 질문 수정 -->
	<update id="update" parameterType="Question">
		UPDATE questions
		SET title = #{title}, content = #{content}
		WHERE question_id = #{id}
	</update>
	
	<!-- 질문 삭제 -->
	<!-- <delete id="delete" parameterType="int">
		DELETE FROM questions
		WHERE question_id = #{id}
	</delete> -->
	<!-- delete_at 만 현재 시각으로 변경하는 쪽으로 구현 -->
	<update id="delete" parameterType="int">
		UPDATE questions
		SET delete_at = now()
		WHERE question_id = #{id}
	</update>
	
	<!-- 질문 조회 -->
	<select id="select" parameterType="SearchCondition">
		SELECT *
		FROM questions
		<if test="key != null">
			WHERE ${key} LIKE CONCAT('%', #{word}, '%')
		</if>
		<if test="orderBy != null">
			ORDER BY ${orderBy} ${orderByDir}
		</if>
	</select>


</mapper>