<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.myroutine.model.dao.RoutineDao">

	<!-- 루틴 등록 -->
	<insert id="insert" parameterType="Routine">
		INSERT INTO routines (users_user_id, origin_user_id, writer, part_1, part_2, title, content, workout_time)
		VALUES (#{userId}, #{originUserId}, #{writer}, #{part1}, #{part2}, #{title}, #{content}, #{workoutTime})
	</insert>
	
	<!-- 루틴 수정 -->
	<update id="update" parameterType="Routine">
		UPDATE routines
		SET part_1 = #{part1}, part_2 = #{part2}, title = #{title}, content = #{content}, workout_time = #{workoutTime}
		WHERE routine_id = #{id}
	</update>
	
	<!-- 루틴 삭제 -->
	<!-- <delete id="delete" parameterType="int">
		DELETE FROM routines
		WHERE routine_id = #{id}
	</delete> -->
	<!-- delete_at 만 현재 시각으로 변경하는 쪽으로 구현 -->
	<update id="delete" parameterType="int">
		UPDATE routines
		SET delete_at = now()
		WHERE routine_id = #{id}
	</update>
	
	
	<!-- 루틴 조회 -->
	<select id="search" parameterType="SearchCondition" resultType="Routine">
		SELECT *
		FROM routines
		<if test="key != null">
			WHERE ${key} LIKE CONCAT('%', #{word}, '%')
		</if>
		<if test="orderBy != null">
			ORDER BY ${orderBy} ${orderByDir}
		</if>
	</select>
	
	<!-- 루틴 상세 조회 -->
	<select id="searchById" parameterType="int" resultType="Routine">
		SELECT *
		FROM routines
		WHERE routine_id = #{id}
	</select>


</mapper>