<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.myroutine.model.dao.UserDao">

	<!-- 사용자 회원가입 -->
	<!-- 회원가입 폼에 따라 값 다르게 넣어야 함 -->
	<insert id="insert" parameterType="User">
		INSERT INTO users (email,
		nickname, password, gender, age, is_public, is_admin, is_expert, character1, character2, character3)
		VALUES (#{email}, #{nickname}, #{password}, #{gender}, #{age},
		#{isPublic}, #{isAdmin}, #{isExpert}, #{character1}, #{character2}, #{character3})
	</insert>

	<!-- 사용자 로그인 -->
	<select id="selectOne" parameterType="Map" resultType="User">
		SELECT *
		FROM users
		WHERE email = #{email} AND password = #{password} AND delete_at is null
	</select>

	<!-- 사용자 정보 수정 -->
	<update id="update" parameterType="User">
		UPDATE users
		<set>
			<if test="password != null">password = #{password},</if>
			<if test="age != 0">age = #{age},</if>
			<if test="gender != null">gender = #{gender},</if>
			<if test="part1 != null">part1 = #{part1},</if>
			<if test="part2 != null">part2 = #{part2},</if>
			<if test="character1 != null">character1 = #{character1},</if>
			<if test="character2 != null">character2 = #{character2},</if>
			<if test="character3 != null">character3 = #{character3},</if>
			<if test="workoutTime != 0">workout_time = #{workoutTime},</if>
		</set>
		WHERE id = #{id}
	</update>

	<!-- 사용자 회원탈퇴 -->
	<!-- <delete id="delete" parameterType="int"> DELETE FROM users WHERE user_id 
		= #{id} </delete> -->
	<!-- delete_at 만 현재 시각으로 변경하는 쪽으로 구현 -->
	<update id="delete" parameterType="int">
		UPDATE users
		SET delete_at = now()
		WHERE id = #{id}
	</update>

	<!-- id를 통한 사용자 조회 -->
	<select id="selectById" parameterType="int" resultType="User">
		SELECT *
		FROM users
		WHERE id = #{id}
		AND delete_at is null
	</select>

	<!-- email 조회 -->
	<select id="selectEmail" resultType="String">
		SELECT email
		FROM users
	</select>
	
	<!-- 닉네임 조회 -->
	<select id="selectNickname" resultType="String">
		SELECT nickname
		FROM users
	</select>
</mapper>